@use "sass:math";
@import "./../variables.scss";
@import "./../_mixin.scss";

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    &.reverse {
        flex-direction: row-reverse;
    }

    .wrap {
        width: 100% !important;
    }

    .col {
        max-width: 100%;
        flex: 1;
    }

    @for $i from 1 through $denominator {
        .col-#{$i} {
            position: relative;
            width: math.div(100%, $denominator)*$i;
        }
    }

    @each $modifier,
    $screen in $breakpoint {
        @media #{$screen} {
            @for $i from 1 through $denominator {
                .col-#{$modifier}-#{$i} {
                    flex: relative;
                    width: math.div(100%, $denominator)*$i;
                }
            }
        }
    }

}