/**
 * Color pallet
 * This pallet is based on the Japanese Traditional color 
 */

:root {
    --transparent: transparent;

    // grey scale
    --black: #000;
    --lamp-black: #1c1c1c;
    --charcol-grey: #4e4854;
    --slate-grey: #56555e;
    --steel-grey: #736c79;
    --grey: #797979;
    --sliver: #a0a0a0;
    --snow-white: #f1f1f1;
    --blue-grey: #babac6;
    --ivory: #e3d4ca;
    --write: #fff;

    // Choco
    --rocher-dark: #270E09;
    --rocher-choco: #452113;
    --rocher-milk: #6F3B26;
    --rocher-blue-black: #4C4555;
    --rocher-ruby-choco: #885457;

    /* Color pallet */
    // Red
    --vivid-red: #d7003a; // shuiro
    --red: #e60033;
    --red2: #bf1e33;
    --deep-red: #b7282e; // akane-iro
    --ligher-blackred: #ae3846; //enji-iro

    // Pink
    --sakura-pink: #ffdbed;
    --cherry-pink: #cf61a5;
    --sakura-red: #e3557f;
    --rose: #d94177;
    --pink: #e91e63;
    --peony: #c24dae; // botan-iro
    --strawberry: #bb1e5e;

    // purple
    --vivid-purple: #706caa; 
    --violet: #705DA8;
    --purple: #884898;
    --magenta: #c949a2;
    --deep-purple: #673AB7;
    --pansy: #40317e; // sumire-iro

    // Blue
    --indigo: #3F51B5;
    --blue: #3170b9;
    --light-blue: #03A9F4;
    --sky-blue: #95c0ec; //sora-iro
    --cyan: #00BCD4;
    --lighter-cyan:#8cb4ce; // kanomezoki

    // Green
    --celadon: #60b49f;
    --light-green: #8BC34A;
    --teal: #009688;
    --green: #4CAF50;
    --deep-green: #005731;

    // Yellow
    --lime: #CDDC39;
    --yellow: #ffbe00;
    --amber: #ffa500;
    --gold: #ffD700;

    // Orange
    --sun-flower: #ffb500;
    --honey-orange: #fa8000;
    --orange: #fd7e00; // hada-iro
    --deep-orange: #FF5722;


}