/**
*
* https://material.io/design/color/the-color-system.html
*/

:root {
    --m-black: #000;
    --m-write: #FFF;

    --m-primary: #6200ee;
    --m-primary-variant: #3700B3;
    --m-secondary: #03DAc6;
    --m-secondary-variant: #018786;

    // Fundamental color pallet
    --m-red: #F44336;
    --m-pink: #E91E63;
    --m-purple: #9C27B0;
    --m-deep-purple: #673AB7;
    --m-indigo: #3F51B5;
    --m-blue: #2196F3;
    --m-light-blue: #03A9F4;
    --m-cyan: #00BCD4;
    --m-teal: #009688;
    --m-green: #4CAF50;
    --m-light-green: #8BC34A;
    --m-lime: #CDDC39;
    --m-yellow: #FFEB3B;
    --m-amber: #FFC107;
    --m-orange: #FF9800;
    --m-deep-orange: #FF5722;
    --m-brown: #795548;
    --m-grey: #9E9E9E;
    --m-blue-grey: #607D8B;

}